{% extends 'layout.html' %}

{% block title %}Contentbase Filtering{% endblock %}

{% block content %}
<div class="movie">
    <h2>การแนะนำแบบเทคนิคการกรองตามเนื้อหา</h2>
    <form action="{{url_for('main')}}" method="POST">
        <p>กราฟแผนภูมิแท่งแสดงรายได้และงบปะมาณ ($) ของภาพยนตร์ที่แสดงการแนะนำ</p>
        <input type="text" id="movie_name" name="movie_name" placeholder="ชื่อ ภาพยนตร์" required />
        <div class="msg">{{ msg }}</div>
        <input type="submit" id="submission_button" value="แสดงการแนะนำ" />
    </form>
    <form action="{{url_for('main1')}}" method="POST">
        <p>กราฟแผนภูมิโดนัทแสดงการเปรียบเทียบระยะเวลาฉาย (นาที) ของภาพยนตร์ที่แสดงการแนะนำ</p>
        <input type="text" id="movie_name" name="movie_name" placeholder="ชื่อ ภาพยนตร์" required />
        <div class="msg">{{ msg }}</div>
        <input type="submit" id="submission_button1" value="แสดงการแนะนำ" />
    </form>
    <form action="{{url_for('main2')}}" method="POST">
        <p>กราฟแผนภูมิพื้นที่ขั้วโลกเปรียบเทียบปริมาณคะแนนโหวตเฉลี่ยของภาพยนตร์ที่แสดงการแนะนำ</p>
        <input type="text" id="movie_name" name="movie_name" placeholder="ชื่อ ภาพยนตร์" required />
        <div class="msg">{{ msg }}</div>
        <input type="submit" id="submission_button2" value="แสดงการแนะนำ" />
    </form>
    <form action="{{url_for('main3')}}" method="POST">
        <p>กราฟแผนภูมิวงกลมเปรียบเทียบปริมาณของจำนวนผู้ที่ทำการให้คะแนนโหวตของภาพยนตร์ที่แสดงการแนะนำ</p>
        <input type="text" id="movie_name" name="movie_name" placeholder="ชื่อ ภาพยนตร์" required />
        <div class="msg">{{ msg }}</div>
        <input type="submit" id="submission_button3" value="แสดงการแนะนำ" />
    </form>
</div>
<div>
    <h2>การแนะนำแบบเทคนิคการกรองร่วมกัน</h2>
    <form action="{{url_for('recommend')}}" method="post">
        <input type="text" name="movie" placeholder="ชื่อ ภาพยนตร์" required="required" />
        <input type="text" name="rating" placeholder="คะแนน (0-5)" required="required" />
        <div class="msg">{{ msg }}</div>
        <input type="submit" id="submission_button" value="แสดงการแนะนำ" />
    </form>
    <p>*ชื่อ ภาพยนตร์ สำหรับการแนะนำแบบเทคนิคการกรองร่วมกัน จะมีปี ค.ศ. ลงท้าย ตัวอย่าง เช่น Congo (1995),Heat (1995)
        เป็นต้น</p>
</div>
{% endblock %}