{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['bar'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['ประเภทภาพยนตร์', 'รายได้', 'ต้นทุน'],
                    ['แอนนิเมชัน', 2600000000, 780000000],
                    ['ผจญภัย', 2458700500, 680000000],
                    ['แฟนตาซี', 2448004660, 679101120],
                    ['ครอบครัว', 2320001103, 652101540],
                    ['วิทยาศาสตร์', 1852700566, 642115410],
                    ['แอคชัน', 1752700462, 672003320],
                    ['ระทึกขวัญ', 1131620422, 525200007],
                    ['ตลก', 1001620422, 652080608],
                    ['สงคราม', 1001620422, 702080608],
                    ['รัก', 931620422, 362700566],
                    ['ดรามา', 911620422, 322700566],
                    ['เพลง', 881700262, 375200097],
                    ['ประวัติศาสตร์', 875140076, 442600111],
                    ['สยองขวัญ', 775270033, 392700566],
                ]);

                var options = {
                    chart: {
                        title: 'รายได้และต้นทุนเฉลี่ย',
                        subtitle: 'รายได้และต้นทุนเฉลี่ยของภาพยนตร์แต่ละประเภท',
                    }
                };

                var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

                chart.draw(data, google.charts.Bar.convertOptions(options));
            }
            </script>
</head>
<body>

    <h2>Home Page</h2>
    <p>ยินดีต้อนรับ, {{ username }}!</p>

    <d>
        <p> ในปัจจุบันนี้ระบบแนะนำมีการเติบโตอย่างรวดเร็วและได้มีการรวบรวมข้อมูลจากแหล่งต่าง ๆ
            เพื่อสร้างระบบแนะนำให้มีประสิทธิภาพมากขึ้นนำไปสู่ยุคใหม่ของข้อมูล
            ระบบแนะนำเป็นระบบกรองข้อมูลประเภทหนึ่งเนื่องจากมีการปรับปรุงคุณภาพของผลการค้นหาและจัดเตรียมรายการที่เกี่ยวข้องกับรายการค้นหาหรือคำนึงถึงประวัติ
            การค้นหาของผู้ใช้เพื่อทำนายการให้คะแนนหรือความชอบที่ผู้ใช้จะให้กับรายการสินค้า
            บริษัทเทคโนโลยีรายใหญ่เกือบทุกแห่งได้นำระบบแนะนำไปใช้ เช่น Amazon
            ใช้เพื่อแนะนำผลิตภัณฑ์ให้กับลูกค้า ,YouTube ใช้เพื่อตัดสินใจว่าจะเล่นวิดีโอใดต่อไปบนการเล่นอัตโนมัติ และ
            Facebook ใช้เพื่อแนะนำเพจให้ถูกใจและผู้คนติดตาม
            ดังนั้นบริษัทต่าง ๆ จึงมีการแข่งขันกับประสิทธิภาพของเครื่องมือที่ใช้ในการแนะนำสำหรับธุรกิจ </p>
        <p> ในเว็บไซต์นี้ได้สร้างระบบแนะนำภาพยนตร์พื้นฐานโดยใช้ชุดข้อมูลจาก Kaggle แพลตฟอร์มสำหรับ Predictive Modelling
            และการแข่งขันด้าน Analytics
            เพื่อหา Model สำหรับ Dataset จากบริษัทและบุคคลทั่วไป ชุดข้อมูลที่ใช้ได้แก่ tmdb.csv, ratings.csv, movie.csv
            ประกอบด้วยข้อมูลของ ชื่อภาพยนตร์ ประเภท
            การให้คะแนน นักแสดง ผู้กำกับ งบประมาณ รวมถึงคีย์เวิร์ดของภาพยนตร์ เป็นต้น
            โดยได้ทำการแนะนำโดยใช้เทคนิคการกรองตามเนื้อหาและเทคนิคการกรองร่วมกัน แสดงผลออกมา
            ในรูปแบบของตารางและแผนภาพข้อมูล </p>
        <h4>การกรองตามเนื้อหา (Content-based Filtering)</h4>
        <p>ในระบบผู้แนะนำนี้จะใช้เนื้อหาของภาพยนตร์ (ภาพรวม นักแสดง ทีมงาน คีย์เวิร์ด สโลแกน ฯลฯ )
            เพื่อค้นหาความคล้ายคลึงกับภาพยนตร์เรื่องอื่น ๆ จากนั้นจะแนะนำภาพยนตร์ที่มีแนวโน้มใกล้เคียงกันมากที่สุด</p>
        <h4>การกรองร่วมกัน (Collaborative Filtering) </h4>
        <p>จะเป็นวิธีการแนะนำโดยพิจารณาจากข้อมูลของผู้ใช้ในอดีต นิยมใช้กับระบบผู้แนะนำที่มีการให้คะแนนความชื่นชอบ
            (Rating) ต่อสิ่งของ โดยระบบจะสร้าง User Profile เก็บข้อมูลของผู้ใช้แต่ละคนเพื่อใช้ในการคำนวณความคล้ายคลึง
            ซึ่งความคล้ายคลึงที่คำนวณได้ มี 2 ประเภท คือ ความคล้ายคลึงของผู้ใช้ (User-based Similarity)
            และความคล้ายคลึงของสิ่งของ (Item-based Similarity) เมื่อหาความคล้ายคลึงเรียบร้อย ระบบผู้แนะนำจะคำนวณ
            เรตติ้งที่คาดว่าผู้ใช้ที่ระบบสนใจ (Target User) โดยให้คะแนนไว้สำหรับทุกๆ
            สิ่งของเพื่อให้ระบบผู้แนะนำได้แนะนำสิ่งของที่มีค่าทำนายผลเรตติ้ง (Rating Prediction)
            สูงให้แก่ผู้ใช้ที่ระบบสนใจ</p>
    </d>
    <div id="columnchart_material" style="width: 800px; height: 500px;">
    </div>
</body>
</html>
{% endblock %}