{% extends 'layout.html' %}

{% block title %}Contentbase Filtering{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Recommender</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,500&amp;display=swap'>
    <canvas id="myChart" width="600px" height="450px"></canvas>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["{{movie_names[0]}}", "{{movie_names[1]}}", "{{movie_names[2]}}", "{{movie_names[3]}}", "{{movie_names[4]}}"
                    , "{{movie_names[5]}}", "{{movie_names[6]}}", "{{movie_names[7]}}", "{{movie_names[8]}}", "{{movie_names[9]}}"],
                datasets: [{
                    label: 'งบประมาณ',
                    data: ["{{movie_runtime[0]}}", "{{movie_runtime[1]}}", "{{movie_runtime[2]}}", "{{movie_runtime[3]}}", "{{movie_runtime[4]}}",
                        "{{movie_runtime[5]}}", "{{movie_runtime[6]}}", "{{movie_runtime[7]}}", "{{movie_runtime[8]}}", "{{movie_runtime[9]}}",],
                    backgroundColor: [
                        'rgba(255, 99, 132)',
                        'rgba(255, 159, 64)',
                        'rgba(255, 205, 86)',
                        'rgba(75, 192, 192)',
                        'rgba(54, 162, 235)',
                        'rgba(153, 102, 255)',
                        'rgba(201, 203, 207)',
                        'rgba(255, 26, 26)',
                        'rgba(236, 255, 92)',
                        'rgba(125, 74, 135)',
                    ],
                    hoverOffset: 4
                }]
        }
    });
    </script>
    <style>
        @media screen and (max-width:600px) {
            .movie {
                margin-top: 12vh;
                margin-bottom: 12vh;
            }
        }

        table,
        tr,
        td,
        th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td {
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="movie">
        <h1><u>ผลลัพธ์ของการแนะนำแบบการกรองตามเนื้อหา</u></h1>
        <p>ภาพยนตร์ที่มีความคล้ายกับเรื่อง {{ search_name }}</p>
        <table class="movie_table" align="center">
            <tr>
                <th>ชื่อ ภาพยนตร์</th>
                <th>ระยะเวลาฉาย (นาที)</th>
            </tr>
            <tbody class="table_body">
                <tr>
                    <td>{{movie_names[0]}}</td>
                    <td>{{movie_runtime[0]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[1]}}</td>
                    <td>{{movie_runtime[0]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[2]}}</td>
                    <td>{{movie_runtime[2]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[3]}}</td>
                    <td>{{movie_runtime[3]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[4]}}</td>
                    <td>{{movie_runtime[4]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[5]}}</td>
                    <td>{{movie_runtime[5]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[6]}}</td>
                    <td>{{movie_runtime[6]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[7]}}</td>
                    <td>{{movie_runtime[7]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[8]}}</td>
                    <td>{{movie_runtime[8]}}</td>
                </tr>
                <tr>
                    <td>{{movie_names[9]}}</td>
                    <td>{{movie_runtime[9]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}